@for $i from 1 through 3 {
  .truncated-#{$i} {
    -webkit-line-clamp: #{$i};
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.t-tip {
  position: relative;
  cursor: help;
  .t-tip-text {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: .25rem;
    padding: .25rem;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: .75rem;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }
  &:hover {
    .t-tip-text {
      visibility: visible;
      opacity: 1;
    }
  }
}

#quickOrderModal {
  .card {
    cursor: pointer;
  }
}